!!!
/ HTML5 doctype
%html
  %head
    %title WikiMap
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
      %script{:src => "./bower_components/lodash/dist/lodash.min.js"}
      %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"}
      %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"}
      %script{:src => "./js/AngularSetup.js"}
      %script{:src => "./js/services/d3.js"}
      %script{:src => "./js/WikipediaAPI.js"}
      %script{:src => "./js/WikiSearch.js"}
      %script{:src => "./js/MindMap.js"}
      %link{:href => "css/app.css", :rel => "stylesheet"}
  %body{"ng-app" => "wikiApp"}
    %div{"ng-controller" => "WikiSearch"}
      %input#ng-test-text{"ng-change" => "wikipediaSearch()", "ng-model" => "searchText"}/
      / ng-change="textChange()"
      %input{:hidden => "", "ng-model" => "wikiName", :value => "http://en.wikipedia.org/w"}/
      %ul
        %li{"ng-repeat" => "searchItem in searchResults"}
          %a{:href => "#"}
            %p{"ng-click" => "makeGraph(searchItem)"} {{searchItem}}
      %button{"ng-click" => "expandRandomNode()"}
        Expand a Random Node
      %mind-map{:data => "mapData", "on-click-node" => "clickMap(clickedNode)"} 