!!!
/ HTML5 doctype
%html
  %head
    %title WikiMap
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
      %script{:src => "./bower_components/lodash/dist/lodash.min.js"}
      %script{:src => "./bower_components/angular/angular.min.js"}
      %script{:src => "./bower_components/angular-sanitize/angular-sanitize.min.js"}
      %script{:src => "./bower_components/jquery/jquery.min.js"}
      %script{:src => "./js/AngularSetup.js"}
      %script{:src => "./js/services/d3.js"}
      %script{:src => "./js/WikipediaAPI.js"}
      %script{:src => "./js/WikiSearch.js"}
      %script{:src => "./js/MindMap.js"}
      %link{:href => "css/app.css", :rel => "stylesheet"}
      %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}
  %body{"ng-app" => "wikiApp", "ng-controller" => "WikiSearch"}
    %div{"class" => "instructions"}
      %h1 WikiMap
      %p{"class" => "lead"} This page builds mind-maps of wikipedia!
      %p Start by typing something into the searchbox and clicking a start topic from the list of links.
      %p That topic will float onscreen as a single node.
      %p Try clicking on that node to expand it.
      %p A linked node will show up, corresponding to a random link from that article.
      %p Shift-click a node to see the corresponding article on the wiki.
      %div
        %input#ng-test-text{"ng-change" => "wikipediaSearch()", "ng-model" => "searchText", "placeholder" => "Search"}
        %ul
          %li{"ng-repeat" => "searchItem in searchResults"}
            %a{:href => "#"}
              %p{"ng-click" => "makeGraph(searchItem)"} {{searchItem}}
        %button{"ng-click" => "expandRandomNode()"}
          Expand a Random Node
    %mind-map{:data => "mapData", "on-click-node" => "clickMap(clickedNode)", "on-shift-click-node" => "openArticle(clickedNode)"} 