<!DOCTYPE html><!--HTML5 doctype-->
<html>
<head>
	<title>WikiMap - MediaWiki Testing Doc</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="./js/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="./js/WikiSearch.js"></script>

	<script>
	</script>
</head>

<body ng-app="wikiApp">
    <div ng-controller="WikiController">
     	<hr>
    	<input ng-model="searchText" id="ng-test-text"/> <!-- ng-change="textChange()"  -->
		<button ng-click="wikipediaSearch()">Search Wikipedia</Button>
		<button ng-click="wikipediaLinks(false)">Get Links</Button>
		<button ng-click="wikipediaPage()">Get Page</Button>
		<br>
		<button ng-click="wikipediaLinks(true)">Get This Many Random Links</Button>:
		<input ng-model="numberOfLinks" value="5">
		<p>Use wiki:
		<select ng-model="wikiName">
		  <option value="http://en.wikipedia.org/w">English wikipedia</option>
		  <option value="http://fr.wikipedia.org/w">French wikipedia</option>
		</select>
		</p>

		<h1>Search Results</h1>
    	<ul>
			<li ng-repeat="searchItem in searchResults">
				<p>{{searchItem}}</p>
			</li>
		</ul>

		<h1>Links</h1>
    	<ul>
			<li ng-repeat="linkItem in linkResults">
				<p>{{linkItem}}</p>
			</li>
		</ul>

		<h1>Page Text</h1>
		<p>{{pageText}}</p>


    </div>
  </body>
</html>