<!DOCTYPE html><!--HTML5 doctype-->
<html>
<head>
	<title>WikiMap - MediaWiki Testing Doc</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="./js/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
	<script charset='utf-8' src='http://d3js.org/d3.v3.min.js'></script>
    <script src="./js/WikiSearch.js"></script>
    <script src="./js/mindmap.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/TestCode.css">
</head>

<body ng-app="wikiApp">
    <div ng-controller="WikiController">
    	<input ng-model="searchText" id="ng-test-text" ng-change="wikipediaSearch()"/> <!-- ng-change="textChange()"  -->
		<input ng-model="wikiName" value="http://en.wikipedia.org/w" hidden/>

    	<ul>
			<li ng-repeat="searchItem in searchResults">
				<a href="#"><p ng-click="makeGraph(searchItem)">{{searchItem}}</p></a>
			</li>
		</ul>
    </div>
  </body>
</html>